# Análisando dados com Python e Pandas

## Introdução

Neste DIO Platform Lab, apresentado no Bootcamp Geração Tech Unimed-BH - Ciência de Dados, apresentando a biblioteca Pandas, uma biblioteca Python open source para análise de dados. Ele permite que o Python trabalhe com dados semelhantes a planilhas, permitindo que você carregue, manipule e combine dados rapidamente, entre outras funções.

## Estrutura de dados

### Listas

In [ ]:
# Criando uma lista chamada animais
animais = [1,2,3]
animais

[1, 2, 3]

In [ ]:
animais = ["cachorro","gato",12345, 6.5]
animais

['cachorro', 'gato', 12345, 6.5]

In [ ]:
# Imprimindo o primeiro elemento da lista
animais[0]

'cachorro'

In [ ]:
# Imprimindo o 4º elemento da lista
animais[3]

6.5

In [ ]:
# Substituindo o primeiro elemento da lista
animais[0] = "papagaio"

In [ ]:
animais

['papagaio', 'gato', 12345, 6.5]

In [ ]:
# Removendo gato da lista
animais.remove("gato")

In [ ]:
animais

['papagaio', 12345, 6.5]

In [ ]:
# Tamanho de uma lista (itens)
len(animais)

3

In [ ]:
# Como saber se um elemento faz parte de uma lista 
"gato" in animais

False

In [ ]:
# Trabalhando com lista numerica
lista = [500,30,300,80,10]

In [ ]:
# Maior elemento da lista
max(lista)

500

In [ ]:
# Menor elemento da lista
min(lista)

10

In [ ]:
# Colocar um novo elemento na lista animais 
animais.append("leão")

In [ ]:
animais

['papagaio', 12345, 6.5, 'leão']

In [ ]:
# Colocar mais de um elemento na lista animais
animais.extend(["cobra",6])

In [ ]:
animais

['papagaio', 12345, 6.5, 'leão', 'cobra', 6]

In [ ]:
# Mostrar quantas vezes o elemento esta na lista
animais.count("cachorro")

0

In [ ]:
# Como organizar uma lista numerica 
lista.sort()

In [ ]:
lista

[10, 30, 80, 300, 500]

### Tuplas

In [ ]:
# As tuplas usam parênteses como sintaxe
tp = ("Banana", "Maçã", 10, 50) 
tp

('Banana', 'Maçã', 10, 50)

In [ ]:
# Retornando o primeiro elemento
tp[0]

'Banana'

In [ ]:
# Mostra quantas vezes a palavra "Maçã" apareceu na tupla
tp.count("Maçã")

1

In [ ]:
# Mostra os elementos do indice 0 até o valor depois dos dois pontos -1, ou seja. neste caso 0 até 1
tp[0:2]

('Banana', 'Maçã')

### Dicionário

In [ ]:
# Para criar um dicionário utilizamos as {}
# Dicionários trabalham com o conceito de chave e valor
dc = {"Maçã":20, "Banana":10, "Laranja":15, "Uva":5} 
dc

{'Maçã': 20, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [ ]:
# Acessando o valor de um dicionário através da chave
dc["Maçã"]

20

In [ ]:
# Atualizando o valor da Maçã
dc["Maçã"] = 25 
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [ ]:
# Retornando todas as chaves do dicionário
dc.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [ ]:
# Retornando os valores do dicionário
dc.values()

dict_values([25, 10, 15, 5])

In [ ]:
# Verificando se já existe uma chave no dicionário e caso não exista inserir
dc.setdefault("Limão", 22)

22

In [ ]:
dc

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5, 'Limão': 22}